.item {
    margin: 20px auto;
    width: 600px;
    border-collapse: collapse;
}

h1, p, td, .container {
    text-align: center;
}

th, td {
    border: 1px grey solid;
}

.input_create {
    margin-top: 10px;
}